@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LABORATORIO PRACTICO</h1>
    <p>Primer laboratorio practico del segundo periodo en Paginas Web Activas.</p>
</div>
